{{ define "main" }}
<div>
  <h1 style="text-wrap: pretty">{{ .Title }}</h1>
  <div style="min-width: 150px; text-align: right">
    {{ $page := .Page }} {{ if .Page.Params.Categories | len }}
    <span>
      {{ range $i, $category := .Page.Params.Categories }}
      <span>
        <a href="/categories/{{ $category | urlize }}">{{ $category }}</a>{{ if not (eq (add $i 1)
        (len $page.Params.Categories)) }}<span>,</span>{{ end }}
      </span>
      {{ end }}
      <span>—</span>
    </span>
    {{ end }}
    <span>{{ (time.In "Asia/Seoul" .Date).Format "2006년 1월 2일 15:04" }}</span>
  </div>
</div>
<div>{{ .Content }}</div>
<div style="margin-top: 20px; display: flex; gap: 20px; justify-content: flex-end; font-size: 10px">
  <a
    href="https://github.com/junhg0211/junhg0211.github.io/blob/main/content/{{ .File.Path }}"
    target="_blank"
  >
    수정
  </a>
</div>
<div style="margin-top: 20px; display: flex; justify-content: space-between">
  {{ $pages := site.RegularPages.ByDate }} {{ $current := . }} {{ range $i, $page := $pages }} {{ if
  eq $page $current }} {{ if gt $i 0 }} {{ $prev := index $pages (sub $i 1) }}
  <a href="{{ $prev.RelPermalink }}"> ← {{ $prev.Title }} </a>
  {{ end }} {{ if lt $i (sub (len $pages) 1) }} {{ $next := index $pages (add $i 1) }}
  <span style="flex: 1"></span>
  <a href="{{ $next.RelPermalink }}"> {{ $next.Title }} → </a>
  {{ end }} {{ end }} {{ end }}
</div>
{{ end }}
