{{ define "main" }}
<div>
  <h1>{{ .Title }}</h1>
  <div style="min-width: 150px; text-align: right">{{ .Date.Format "2006년 1월 2일 15:04" }}</div>
</div>
<div>{{ .Content }}</div>
<div style="margin-top: 20px; display: flex; justify-content: space-between">
  {{ $pages := site.RegularPages.ByDate }} {{ $current := . }} {{ range $i, $page := $pages }} {{ if
  eq $page $current }} {{ if gt $i 0 }} {{ $prev := index $pages (sub $i 1) }}
  <a href="{{ $prev.RelPermalink }}"> ← {{ $prev.Title }} </a>
  {{ end }} {{ if lt $i (sub (len $pages) 1) }} {{ $next := index $pages (add $i 1) }}
  <span style="flex: 1"></span>
  <a href="{{ $next.RelPermalink }}"> {{ $next.Title }} → </a>
  {{ end }} {{ end }} {{ end }}
</div>
{{ end }}
