body {
	margin: 0;
	font-family: 'Pretendard', 'Noto Sans', sans-serif;

	--text-color: #2c2c2c;
	--theme-color: #f7f7f9;

	background-color: var(--theme-color);
	color: var(--text-color);
}

a {
	color: var(--text-color);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: dashed underline;
}

ul {
	list-style: square;
}

li {
	line-height: 2rem;
}

h2 {
	margin-top: 3rem;
}

h3 {
	font-weight: normal;
}

.content-container {
	display: flex;
	flex-direction: column;
	max-width: calc(960px - 4rem);
	margin: auto;
	padding: 0 2rem;
}
